.App {
  width: 360px;
  margin: 0 auto;
  font-size: 12px;
}

p {
  text-align: center;
  text-transform: uppercase;
}

.PlayingField {
  margin-top: 20px;
  width: 360px;
  height: 360px;
  border: 2px solid #8a7271;
  background-color: #efe5d4;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.PlayingFieldWin {
  background-color: #f07d10;
}

.Tile {
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #8a7271;
  background-color: #f07d10;
  font-size: 50px;
  color: #efe5d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
	user-select: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.Tile:hover {
  background-color: #7c8782;
  color: #f07d10;
}

.CorrectPosition {
  background-color: #5b8300;
}

.CorrectPosition:hover {
  color: #5b8300;
}

.Empty {
  border: 2px solid #efe5d4;
  background-color:  #efe5d4;
  color: #efe5d4;
  cursor: auto;
  box-shadow: none;
}

.Empty {
  border: 2px solid #efe5d4;
  background-color:  #efe5d4;
  color: #efe5d4;
  cursor: auto;
  box-shadow: none;
}

.Empty span {
  color: #8a7271;
}

.PlayingFieldWin .Empty {
  background-color: #f07d10;
  border: 2px solid #f07d10;
  color: #f07d10;
}

.Empty:hover {
  border: 2px solid #efe5d4;
  background-color:  #efe5d4;
  color: #efe5d4;
}

.PlayingFieldWin .Empty:hover {
  background-color: #f07d10;
  border: 2px solid #f07d10;
  color: #f07d10;
}

.ForWin {
  font-size: 20px;
  color: red;
  text-decoration: underline;
  margin-left: 135px;
  text-align: center;
}

.BoxForBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.BoxForInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.BoxForInfo .btn {
  padding: 0;
  border: none;
  background-color: white;
  color: red;
  box-shadow: none;
  margin: 2px 0;
}

.BoxForInfo .btn:hover, .BoxForInfo .btn:focus{
  background-color: red;
  color: white;
}


.BoxForInfo .btn[disabled] {
  background-color: white !important;
}

.btn {
  background-color: #f07d10;
  color: #efe5d4;
}

.btn:hover, .btn:focus{
  background-color: #7c8782;
}

.Red {
  color: red;
}

.Green{
  color: green;
}

.Tile .Index{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 8px;
}

.Tile .Direction{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
}
